body {
  background-image: url(https://media.istockphoto.com/id/502936829/photo/car-tires.jpg?s=612x612&w=0&k=20&c=3jn6wQtmUxnOdDEOOIfz3VGf_CXwvL7KBwKR_HxfPcU=);
  
}

.container { /* För alla gridda */
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-gap: 1px;
    grid-template-rows: 150px 750px;
    background-color: rgb(32, 32, 31);
    
    
}

.item-1{ /* Plan A Titletext */
    background-color: rgb(236, 98, 98);
    border-style: double; 
    grid-column: span 3;
    height: auto;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 150%; 
    border-radius: 25px;
}

.item-2{ /* Plan B Nav meny */
    background-color: rgb(58, 112, 192);
    border-style: double; 
    grid-column: span 1;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    border-radius: 25px;
}

.item-3{ /* Plan C Informationstext */
    background-color: rgb(149, 99, 230);
    border-style: double; 
    width: auto;
    grid-column: span 1;
    Text-align:center;
    font-size:30px;
    
}

.item-4 { /* någonting glömde bort */
    background-color: rgb(190, 151, 100);
    border-style: double;
    border-radius: 25px;
}

nav{ /* Meny style */
    margin-right: 20%;
    font-size: 170%;
}

ul{ /*Meny listans cirklar*/
    list-style-type:circle;
}

li{ /*Listans style*/
    background-color: rgb(91, 91, 177);
    border-style:double;
    border-radius:15%;
}

a{
    text-decoration: none;
}




