
body {
  background-image: url(https://images.unsplash.com/photo-1610824224972-db9878a2fe2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29vZCUyMHRleHR1cmV8ZW58MHx8MHx8&w=1000&q=80);
}

.container { /* För alla gridda */
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-gap: 5px;
    grid-template-rows: 150px 750px;
}

.item-1{ /* Plan A Titletext */
    background-image: linear-gradient(to right, rgb(223, 112, 78) , rgb(168, 137, 51));
    grid-column: span 3;
    height: auto;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 150%; 
    border-radius: 25px;;
}

.item-2{ /* Plan B Nav meny */
    background-image: url(https://media.istockphoto.com/id/1066080904/photo/black-marble-texture-and-background.jpg?b=1&s=170667a&w=0&k=20&c=lDwnNvJ9bZeNHK0XKQZ3Vv8PASHVhLeThfrywePTJyM=);
    grid-column: span 1;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    border-radius: 25px;
}

.item-3{ /* Plan C Informationstext */
    background-image: linear-gradient(to right, rgb(223, 112, 78) , rgb(168, 137, 51));
    width: auto;
    grid-column: span 1;
    Text-align:center;
    font-size:30px;
    border-radius: 25px;
}

.item-4 { /* Meny och Tider */
    background-image: url(https://t3.ftcdn.net/jpg/04/15/64/98/360_F_415649891_o1C3n3N3WucOFSK5zExC0hd13TuOeEIJ.jpg);
    border-style: none;
    border-radius: 25px;
}



nav{ /* Meny style */
    margin-right: 20%;
    font-size: 170%;
    color: rgb(0, 0, 0);
}

.item-5{   
    background-image: linear-gradient(to right, rgb(223, 112, 78) , rgb(168, 137, 51));
    width: auto;
    grid-column: span 2;
    border-radius: 25px;
    text-align: Center;
    font-size: 30px;
}

.text{ /* storlek och text stil och färg till texten*/
    font-size: 20px;
    font-style: italic;
    color: antiquewhite;
}

.gammal{ /*positioner och storlek till bilen*/
   height: 370px;
   margin-top: 20px;
   border-radius: 10px;
   border-style:inherit;
   border-color:rgb(211, 164, 94);
}

.pasta{ /*position och storlek till pastan*/
    height: 370px;
    margin-top: 20px;
    border-radius: 10px;
    border-style:inherit;
    border-color:rgb(211, 164, 94);
}

li{ /*style på listan*/
    color: azure;
    font-size: large;
    margin:1em
}

h1,h2,h3,h4,h5,h6{  /*Style till texten*/
color: aliceblue;
font-style: italic;
}

ul{ /*Färg och stil till punktlista*/
    list-style: none;
    color: azure;
}

a /**/
{
    text-decoration: none;
    color: aliceblue;
}
 
p{ /*text stil och färg til texten*/
    font-style: italic;
    color: azure;
}

.cool{ /*position*/
  text-align: center;
}

.race{ /**/
    height: 370px;
    margin-top: 20px;
    border-radius: 10px;
    border-style:inherit;
    border-color:rgb(211, 164, 94);
}

.cars{
    height: 370px;
    border-radius: 10px;
    border-style:inherit;
    border-color:rgb(211, 164, 94);
}

.tim{
    font-size:large;
    font-style: italic;
    text-align: center;
}

.intro{
    font-size:large;
    text-align: center;
    font-style: italic;
}







