
body {
  background-image: url(https://media.istockphoto.com/id/502936829/photo/car-tires.jpg?s=612x612&w=0&k=20&c=3jn6wQtmUxnOdDEOOIfz3VGf_CXwvL7KBwKR_HxfPcU=);
  
}


.container { /* För alla gridda */
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-gap: 1px;
    grid-template-rows: 150px 750px;
}

.item-1{ /* Plan A Titletext */
    background-color: rgba(236, 196, 143, 0.932);
    border-style: solid; 
    grid-column: span 3;
    height: auto;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 150%; 
    border-radius: 25px;
}

.item-2{ /* Plan B Nav meny */
    background-color: rgb(220, 215, 201);
    border-style: solid; 
    grid-column: span 1;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    border-radius: 25px;
}

.item-3{ /* Plan C Informationstext */
    background-image: linear-gradient(to right, rgb(223, 112, 78) , rgb(168, 137, 51));
    border-style: solid; 
    width: auto;
    grid-column: span 1;
    Text-align:center;
    font-size:30px;
    border-radius: 25px;
    
}

.item-4 { /* någonting glömde bort */
    background-image: url(https://t3.ftcdn.net/jpg/04/15/64/98/360_F_415649891_o1C3n3N3WucOFSK5zExC0hd13TuOeEIJ.jpg);
    border-style: solid;
    border-radius: 25px;
}



nav{ /* Meny style */
    margin-right: 20%;
    font-size: 170%;
}

ul{ /*Meny listans cirklar*/
    list-style-type: none;
}

li{ /*Listans style*/
    background-color: rgb(130, 130, 243);
    border-style: solid;
    border-radius:15%;
}

.item-5{
    background-color: rgb(162, 123, 92);
    border-style: solid; 
    width: auto;
    grid-column: span 2;
    border-radius: 25px;
    text-align: Center;
    font-size: 30px;
}

a{
    text-decoration: none;
}

.text{
    font-size: 20px;
    font-style: italic;
    color: antiquewhite;
}

.gammal{
   height: 370px;
   margin-top: 20px;
   border-radius: 10px;
   border-style:inherit;
   border-color:rgb(211, 164, 94);
}

.pasta{
    height: 370px;
    margin-top: 20px;
    border-radius: 10px;
    border-style:inherit;
    border-color:rgb(211, 164, 94);
}



